# vim: ft=sh :

# all settings can be overridden in client config

# name or IP by which this machine can be reached from the client
BACKUP_SERVER='{{ ansible_host }}'

# path to ssh key which is used to log in to the client
BACKUP_SSHKEY='{{ config_directory }}/sshid_borg'

# time window for allowing the client to connect back to the server (seconds)
BACKUP_CONNECT_WINDOW=60

# default prune schedule
BACKUP_PRUNE_ARGS='--keep-daily 28 --keep-weekly 12'

# default ssh options on the client
BACKUP_CLIENT_SSH_OPTS='-o StrictHostKeyChecking=accept-new'

