# name or address used to ssh into the client
BACKUP_CLIENT='{{ ansible_host }}'

# client's ssh port
BACKUP_PORT={{ ansible_port | default('22') }}

# client directories to be backed up (separate by space)
BACKUP_SET='{{ item.paths }}'

# local username used for storing the backups here
BACKUP_USER='borg-{{ inventory_hostname }}'

# repository passphrase
BORG_PASSPHRASE='{{ volume_password.stdout }}'

# path where the borg repository is stored on this machine
BACKUP_REPO="{{ backup_directory }}/{{ item.name }}"

